/*Created with Adobe RoboHelp.*/
body {
  font-family: arial;
  font-size: 12px;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  font-family: arial;
}
h2 {
  font-weight: bold;
  font-size: 20px;
}
h3 {
  font-weight: bold;
  font-size: 18px;
}
h4 {
  font-weight: bold;
  font-size: 16px;
}
h5 {
  font-weight: bold;
  font-size: 13px;
}
h6 {
  font-weight: bold;
  font-size: 12px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: arial;
  font-weight: normal;
  text-decoration: none;
  white-space: normal;
  font-size: 15px;
  position: relative;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
/* Styling microcontents' intents for faq pages */
.faq-dropspot {
  /* Add !important flag after an attribute to give precedence over a.dropspot. For example color:#FF0000 !important; */
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
div.faq-droptext {}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a {}
a.minitoc-list-item {}
div.breadcrumbs {}
span.breadcrumbs-home-prefix {}
a.breadcrumbs-home {}
.breadcrumbs-separator {}
a.breadcrumbs-link {}
a.breadcrumbs-topic {}
p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
ul.Disc {
  list-style-type: disc;
}
ul.Circle {
  list-style-type: circle;
}
figure {
  margin-left: 0 px;
}
ol.Decimal {
  list-style: decimal;
}
ol.AlphaNumeric {
  list-style: decimal;
}
ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol {
  counter-reset: item4;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 40px;
  margin-left: 0px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}